*.pyc
*.so
*.zip
r2r_src/.idea
img_features
obj_features
build
snap
pybind11
cmake
CMakeFiles
CMakeLists.txt
connectivity
cmake_install.cmake 
include
libMatterSim.so
libopencv_core.so.3.2
Makefile
MatterSim.cpython-36m-x86_64-linux-gnu.so
snap_history
src
